html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
}

/* rod or slate or plyaer */
.slate{
    position: fixed;
    width: 200px;
    height: 20px;
    left: calc(50% - 100px);
    border-radius: 10px;
    transition: all 0.1s linear;
}

#player1{
    background-color: rebeccapurple;
}

#player2{
    background-color: red;
    bottom: 10px;
}

/* ball */
#ball{
    position: fixed;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    background-color: rgb(122, 0, 0);
    left: 50%;
    top: 50%;
    transition: background-color 0.5s linear;
}

/* score */
.score{
    position: fixed;
    opacity: 0.6;
    font-size: 80px;
}

/* score for player 2*/
#player2score{
    right: 8px;
}

/* main screen promt sytle */
#prompt{
    align-self: center;
    text-align: center;
    opacity: 0.6;
    font-size: 80px;
    width: 100%;
    transition: opacity 1s linear;
}